* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $fontSize;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-theme-light {
    background-color: #edf1f5;
}

// custom scss
.layout_main_container{
    width: 100%;
    display: flex;
    min-height: calc(100vh - 58px);
}
// .layout_sidebar{
//     margin-left: 0px !important;
//     min-width: 250px;
//     transition: all .3s ease-out ;
//     min-height: 100%;
//     top: 58px;
//     z-index: 999 !important;
//     position: fixed !important;
    
// }
.layout_sidebar{
    margin-left: 0px !important;
    min-width: 250px;
    min-height: 100vh !important;
    transition: all .3s ease-out ;
    min-height: 100%;
    top: 0px;
    z-index: 999 !important;
    position: fixed !important;
    background-color: #313a46 !important;
    overflow: hidden !important;
    border: 1px transparent solid;
    border-top-right-radius: 30px !important;
    
}
.layout_main_section{
    width: 100%;
    min-height: calc(100vh - 72px);
    margin-left:0px ;
    margin-top: 65px;
    transition: all .3s ease-out ;
}

.open_sidebar{
    .layout_sidebar{
        margin-left: -250px !important;
    }
}

.close_sidebar {
    .layout_sidebar{
        margin-left: 0px !important;
    }
   
}
.sidebar_overall{
    .layout_main_section{
        margin-left: 250px !important;
    }
}
.layout-mask{
    top: 0px !important;
}
